<!-- Just an image -->
<% if(locals.isConnected === undefined) isConnected = false;
if(locals.userPseudo === undefined) userPseudo = "Anonymus";
%>

<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index" v-show=<%= !isConnected %>>
              <b>
                <!-- Dark Logo icon -->
                <img src="elite/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                <!-- Light Logo icon -->
                <img src="elite/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
              </b>
              <span>
                  <!-- dark Logo text -->
                  <img src="elite/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                  <!-- Light Logo text -->    
                  <img src="elite/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
              </span> 
            </a>
            <a class="navbar-brand" href="/app" v-show=<%= isConnected %>>
              <b>
                <!-- Dark Logo icon -->
                <img src="elite/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                <!-- Light Logo icon -->
                <img src="elite/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
              </b>
              <span>
                  <!-- dark Logo text -->
                  <img src="elite/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                  <!-- Light Logo text -->    
                  <img src="elite/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
              </span> 
            </a>
        </div>

        <div class="navbar-collapse">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav mr-auto">
              <!-- This is  -->
              <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
              <li class="nav-item" v-show=<%= isConnected %>> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
              <!-- ============================================================== -->
              <!-- Search -->
              <!-- ============================================================== -->
              <!-- <li class="nav-item">
                  <form class="app-search d-none d-md-block d-lg-block">
                      <input type="text" class="form-control" placeholder="Rechercher une personne, ...">
                  </form>
              </li> -->
          </ul>

          <ul class="navbar-nav my-lg-0" v-show=<%= isConnected %> >
            <!-- ============================================================== -->
            <!-- User Profile -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown u-pro">
              <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="elite/assets/images/users/1.jpg" alt="user" class=""> <span class="hidden-md-down">Hi <%= userPseudo %> &nbsp;<i class="fa fa-angle-down"></i></span> </a>
              <div class="dropdown-menu dropdown-menu-right animated flipInY">
                  <!-- text-->
                  <a href="javascript:void(0)" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                  <!-- text-->
                  <div class="dropdown-divider"></div>
                  <!-- text-->
                  <a href="/index" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                  <!-- text-->
              </div>
            </li>
            <!-- ============================================================== -->
            <!-- End User Profile -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- Settings -->
            <!-- ============================================================== -->
            <!-- <li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li> -->
          </ul>
        </div>
    </nav>
</header>